apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sockshop-ingress
  namespace: sock-shop
  annotations:
  #  cert-manager.io/cluster-issuer: letsencrypt-nginx
   kubernetes.io/ingress.class: nginx
spec:
  ingressClassName: nginx
  rules:
    - host: sockshop.ngozionwuka.me
      http:
        paths:
          - pathType: Prefix
            path: /
            backend:
              service:
                name: front-end
                port:
                  number: 80


    # - host: prometheus.ngozionwuka.me
    #   http:
    #     paths:
    #       - path: /
    #         pathType: Prefix
    #         backend:
    #           service:
    #             name: prometheus-operated
    #             port:
    #               number: 9090
    # - host: grafana.ngozionwuka.me
    #   http:
    #     paths:
    #       - path: /
    #         pathType: Prefix
    #         backend:
    #           service:
    #             name: prom-grafana
    #             port:
    #               number: 80
  # tls:
  #   - hosts:
  #       - ngozionwuka.me
  #     secretName: ngozionwuka